# NLP Modeling Exercises

Take the work we did in the lessons further:

1. What other types of models (i.e. different classifcation algorithms) could you use? Create a model with a different algorithm.

In [2]:
from pprint import pprint

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from prepare import basic_clean, lemmatize

In [3]:
news_df = pd.read_json('inshorts-2022-02-07.json')

In [4]:
news_df.head()

,title,published,author,content,category
0,Start demolition of Supertech's 40-storey twin...,2022-02-07T11:05:31.000Z,Ridham Gambhir,The Supreme Court on Monday ordered that the d...,business
1,The focus is on growth and adoption for Digita...,2022-02-07T06:10:25.000Z,Roshan Gupta,Union Budget 2022 is focused on promoting digi...,business
2,"COVID, you did your worst & stole our voice: M...",2022-02-06T15:37:00.000Z,Sakshita Khosla,Businessman Anand Mahindra on Sunday shared a ...,business
3,"Meta says data regulations may cause Facebook,...",2022-02-07T09:20:26.000Z,Pragya Swastik,Meta in its annual report to the US SEC said i...,business
4,"Wishy-washy words not needed, say sorry: Shiv ...",2022-02-07T11:20:42.000Z,Pragya Swastik,Shiv Sena's MP Priyanka Chaturvedi tweeted to ...,business

2. How do the models compare when trained on term frequency data alone, instead of TF-IDF values?